{
	"Name": "StandardLadder",
	"ModelName": "Models/Ladder",
	"Icon": "Icons/LadderIcon",
	"Dimensions": {"X": 2, "Z": 2},
	"SideEffect": "CutsIntoCeiling",
	"IsInteractable": "true",
	///the position of the accessarea is relative to the center of the dimensions. round down if dims%2!=0
	"InteractionArea" : {"X":2, "Z": 0, "Width": 1, "Length": 2},
	"InteractionOrientation": "Stern",
	"CeilingCutArea": {"X":0, "Z": 0, "Width": 2, "Length": 2},
	"HasMultifloorAABB": "true",
	"IsMultifloorInteractable": "true"
}