{
	"f3_DiffuseLightDirection": "1,1,0",
	"f_DiffuseIntensity": "1.0",
	"f_AmbientIntensity": "0.3",
	"f4_AmbientColor": "1,1,1,1",
	///"tex_GrassTexture": "Materials/Grass",
	///"tex_DirtTexture": "Materials/Dirt",
	"tex_RockTexture": "Materials/Rock",
	"tex_IceTexture": "Materials/Ice",
	///"tex_TreeTexture": "Materials/Trees",
	///"tex_TreeNormalTexture": "Materials/TreeNormals",
	"tex_RockNormalTexture": "Materials/RockNormals",
	///"tex_SnowNormalTexture": "Materials/SnowNormals",
	"f_TextureScalingFactor": "64.0",
	"Shader": "HLSL/TerrainEffect"
}