{
	"f_Alpha": "0.5",
	"f4_TintColor": "1,1,1,1",
	"Shader": "HLSL/TintedGeometry",
	"Rasterizer": {
		"SlopeScaleDepthBias": 0.0,
		"DepthBias": 0.0,
		"MultiSampleAntiAlias": true,
		"ScissorTestEnable": false,
		"FillMode": 0,
		"CullMode": 2
	},
	"DepthStencil": {
		"ReferenceStencil": 0,
		"StencilWriteMask": -1,
		"StencilMask": -1,
		"CounterClockwiseStencilDepthBufferFail": 0,
		"CounterClockwiseStencilFail": 0,
		"CounterClockwiseStencilPass": 0,
		"CounterClockwiseStencilFunction": 0,
		"TwoSidedStencilMode": false,
		"StencilDepthBufferFail": 0,
		"StencilFail": 0,
		"StencilPass": 0,
		"StencilFunction": 0,
		"StencilEnable": false,
		"DepthBufferFunction": 3,
		"DepthBufferWriteEnable": false,
		"DepthBufferEnable": true
	}
}