{
	"Name": "TestCannon",
	"Model": "Models/Cannon",
	"Icon": "Icons/CannonIcon",
	"Dimensions": {"X": 2, "Z": 6},
	"ProjectileEmitterOffset": {"X": 0.45, "Y": 0.60, "Z": 2.75},
	"FiringForce": "8000",
	"SideEffect": "None"
	///In the future, other descriptors may be added such as description, max shot size, firing force, etc
}