{
	"Name": "TestCannon",
	"ModelName": "Models/Cannon",
	"Icon": "Icons/CannonIcon",
	"Dimensions": {"X": 2, "Z": 6},
	"ProjectileEmitterOffset": {"X": 0.45, "Y": 0.60, "Z": 2.75},
	"FiringForce": "8000",
	"SideEffect": "None",
	"InteractionArea" : {"X":0, "Z": -1, "Width": 2, "Length": 1},
	"InteractionOrientation": "Starboard",
	"IsInteractable": "true",
	"HasMultifloorAABB": "false",
	"IsMultifloorInteractable": "false"
}